<h1 class="text-light">All Notes List</h1>
<p class="text-muted">Notas totales: {{notesCount}}</p>

{{#if notesCount}}
  {{#each notes}}
    <div class="card bg-transparent text-light border-top border-info">
      <div class="card-header">
        <h6 class="mb-0">Note {{@index}}</h6>
      </div>

      <div class="card-body">
        <h5
          class="card-title text-info d-flex justify-content-between align-items-center"
          id="title"
        >Title of the note:
          {{this.title}}
          <a
            href="/notes/edit/{{this._id}}"
            class="text-white text-decoration-none"
          >
            <i class="fas fa-edit"></i>
            Edit
          </a>
        </h5>

        <p class="card-text text-light" id="description">Content of the note:
          {{this.description}}</p>

        {{! <p text-info> }}
        {{! Category:
          <span
            class="badge rounded-pill me-2"
            style=" }}
        {{!-- background-color: {{categoryColor}}; --}}
        {{!-- background-color: {{categoryColor}} !important; 
             color: {{categoryText}} !important;
              border: 1px solid rgba(255,255,255,.15);"
          > --}}
        {{!-- {{category}} --}}
        {{! </span></p> }}

        {{!-- <span
          class="badge rounded-pill me-2"
          style="background-color: {{categoryColor}} !important; color: {{categoryText}} !important; border: 1px solid rgba(255,255,255,.15);"
        >
          {{displayCategory}}
        </span> --}}
        <p>Category: 
 <span
          class="badge rounded-pill me-2"
          style="background-color: {{categoryColor}} !important; color: {{categoryText}} !important; border: 1px solid rgba(255,255,255,.15);"
        >
          {{this.category.name}}
        </span>

        </p>
       

        {{!-- <span
          class="badge rounded-pill me-2"
          style="background-color: {{categoryColor}} !important; color: {{categoryText}} !important; border: 1px solid rgba(255,255,255,.15);"
        >
          {{#if
            category.name
          }}{{category.name}}{{else}}{{displayCategory}}{{/if}}
        </span> --}}

        <button class="btn btn-info" onclick="deleteNote('{{this._id}}')">
          <i class="fas fa-trash"></i>
          Delete Note
        </button>

      </div>

      <svg class="neon-snake">
        <rect
          class="border-line"
          x="0"
          y="0"
          width="100%"
          height="100%"
          rx="12"
          ry="12"
          pathLength="1000"
        />
        <rect
          class="runner"
          x="0"
          y="0"
          width="100%"
          height="100%"
          rx="12"
          ry="12"
          pathLength="1000"
        />
      </svg>

    </div>
  {{/each}}
{{else}}
  <p class="text-muted">No notes yet.</p>
{{/if}}