<form action="/notes/update/{{note._id}}?_method=PUT" method="POST">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      class="form-control border border-secondary"
      id="title"
      name="title"
      value="{{note.title}}"
    />
  </div>

  <div class="form-group mt-3">
    <label for="description">Content</label>
    <textarea
      class="form-control border border-secondary"
      id="description"
      name="description"
    >{{note.description}}</textarea>
  </div>

  <div class="form-group mt-3">
    <label for="category">Category</label>
    {{!-- <select name="category" class="form-select border border-secondary">
      <option value="all-notes" {{#if note.isAllNotes}}selected{{/if}}>All Notes</option>
      <option value="to do list" {{#if note.isTodo}}selected{{/if}}>To Do List</option>
      <option value="work" {{#if note.isWork}}selected{{/if}}>Work</option>
      <option value="hobbies" {{#if note.isHobby}}selected{{/if}}>Hobbies</option>
    </select> --}}
<select name="category" class="form-select">
  {{#each categories}}
    <option value="{{this.name}}" {{#if (eq this.name ../note.category.name)}}selected{{/if}}>
      {{this.name}}
    </option>
  {{/each}}
</select>
  </div>

  <button class="btn btn-success mt-3">
    <i class="fas fa-edit"></i> Update Note
  </button>
</form>
